name: Jeju Airport Watcher

on:
  schedule:
    # 한국 시간(KST) 기준 매일 06:00 ~ 22:00 (UTC 21:00 ~ 13:00) 15분 단위
    - cron: '0,15,30,45 21,22,23,0,1,2,3,4,5,6,7,8,9,10,11,12 * * *'
  workflow_dispatch: # 수동 실행 버튼

jobs:
  run-bot:
    runs-on: ubuntu-latest
    env:
      SLACK_URL: ${{ secrets.SLACK_URL }}
      AIRPORT_KEY: ${{ secrets.AIRPORT_KEY }}

    steps:
    - name: 체크아웃
      uses: actions/checkout@v3

    - name: 파이썬 세팅
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: 라이브러리 설치
      run: pip install requests

    - name: 봇 실행
      run: python main.py

    - name: 데이터 저장
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add sent_data_final.json
        git commit -m "Update sent data" || exit 0
        git push
